.Rproj.user
.Rhistory
.RData
.Ruserdata
.snakemake
dag/*
resources/*
log/*
benchmarks/*
results/*
taxonomy_database/*

!dag/.gitkeep
!resources/.gitkeep
!log/.gitkeep
!benchmarks/.gitkeep
!results/.gitkeep
!taxonomy_database/.gitkeep